@font-face {
  font-family: "iconfont"; /* Project id 3696299 */
  src: url('iconfont.woff2?t=1748419315031') format('woff2'),
       url('iconfont.woff?t=1748419315031') format('woff'),
       url('iconfont.ttf?t=1748419315031') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhujiguanli:before {
  content: "\e643";
}

.icon-MGR:before {
  content: "\e6c4";
}

.icon-shenduheguangdu:before {
  content: "\e65b";
}

.icon-Checkpoint:before {
  content: "\e6f0";
}

.icon-dianzan:before {
  content: "\e6c3";
}

.icon-dianzan-xia:before {
  content: "\e65c";
}

.icon-ziduanxin:before {
  content: "\e640";
}

.icon-shujubiao:before {
  content: "\e641";
}

.icon-ORACLE:before {
  content: "\e6c2";
}

.icon-MYSQL:before {
  content: "\e635";
}

.icon-PostgreSQL:before {
  content: "\e8b7";
}

.icon-OceanBase:before {
  content: "\e636";
}

.icon-SQLServer:before {
  content: "\e637";
}

.icon-caipu:before {
  content: "\e634";
}

.icon-airudiantubiaohuizhi-zhuanqu_meishicaipu:before {
  content: "\e6c0";
}

.icon-tangshicaipu:before {
  content: "\e6c1";
}

.icon-airudiantubiaohuizhi-zhuanqu_meishicaipu-copy:before {
  content: "\ee43";
}

.icon-airudiantubiaohuizhi-zhuanqu_meishicaipu-copy-copy:before {
  content: "\ee44";
}

.icon-icon-:before {
  content: "\e633";
}

.icon-yunshangchuan:before {
  content: "\eb2c";
}

.icon-navicon-dsrwpz:before {
  content: "\e63e";
}

.icon-lishijilu:before {
  content: "\e642";
}

.icon-bigdata:before {
  content: "\e6be";
}

.icon-share-data:before {
  content: "\e6bf";
}

.icon-outline-data:before {
  content: "\e6e3";
}

.icon-iconfonticon2:before {
  content: "\e62d";
}

.icon-daoru:before {
  content: "\e62f";
}

.icon-yewucaozuoyingshe:before {
  content: "\e6bd";
}

.icon-jianchazhibiao:before {
  content: "\e630";
}

.icon-pipei:before {
  content: "\e631";
}

.icon-shujuxiaoyan:before {
  content: "\e632";
}

.icon-yingshe:before {
  content: "\e889";
}

.icon-zhiyingshe_2:before {
  content: "\e75a";
}

.icon-a-xiaxian_huaban1_huaban1:before {
  content: "\e62c";
}

.icon-success:before {
  content: "\e6bc";
}

.icon-24gf-folderMinus:before {
  content: "\eac5";
}

.icon-24gf-folderOpen:before {
  content: "\eac6";
}

.icon-31chanpincanshu:before {
  content: "\e62a";
}

.icon-lijitoudi:before {
  content: "\e7b6";
}

.icon-fuzhi:before {
  content: "\ec7a";
}

.icon-cloudshellyunminglinghang:before {
  content: "\e6e4";
}

.icon-chushihua:before {
  content: "\e62b";
}

.icon-shujutiqu:before {
  content: "\e6bb";
}

.icon-table:before {
  content: "\e6b9";
}

.icon-shujuku:before {
  content: "\e6ba";
}

.icon-a-ziyuan40:before {
  content: "\e628";
}

.icon-powershell:before {
  content: "\ec5e";
}

.icon-jiansuo:before {
  content: "\e6cc";
}

.icon-shuaxin:before {
  content: "\e652";
}

.icon-weibiaoti517:before {
  content: "\e626";
}

.icon-yunhang:before {
  content: "\ec61";
}

.icon-ziyuanxhdpi:before {
  content: "\e649";
}

.icon-yichang:before {
  content: "\e627";
}

.icon-rizhichouqu:before {
  content: "\e624";
}

.icon-yuanchengchouqu:before {
  content: "\e625";
}

.icon-24gl-extractDown:before {
  content: "\eb6e";
}

.icon-24gl-extractLeft:before {
  content: "\eb6f";
}

.icon-24gl-extractUp:before {
  content: "\eb70";
}

.icon-24gl-extractRight:before {
  content: "\eb71";
}

.icon-Arrowextractinterface:before {
  content: "\e65d";
}

.icon-fuwuqi:before {
  content: "\e63c";
}

.icon-windows:before {
  content: "\ec83";
}

.icon-linux:before {
  content: "\e6b8";
}

.icon-tianjia:before {
  content: "\e622";
}

.icon-tianjia1:before {
  content: "\e623";
}

.icon-zitidaxiao-:before {
  content: "\e63f";
}

.icon-navicon-fwpzpz:before {
  content: "\e63d";
}

.icon-rizhi:before {
  content: "\e61a";
}

.icon-wulumuqishigongandashujuguanlipingtai-ico-:before {
  content: "\e7f0";
}

.icon-caidanguanli:before {
  content: "\e6b7";
}

.icon-yonghuguanli:before {
  content: "\e620";
}

.icon-fuwu:before {
  content: "\edc3";
}

.icon-xitongshezhi:before {
  content: "\e621";
}

.icon-zhuti:before {
  content: "\e7aa";
}

.icon-quxiaoquanping_o:before {
  content: "\eb98";
}

.icon-quanping_o:before {
  content: "\eb99";
}

.icon-mysql:before {
  content: "\e6b5";
}

.icon-fsux_tubiao_biaoge:before {
  content: "\e61b";
}

.icon-fsux_tubiao_yibiaopan:before {
  content: "\e61c";
}

.icon-fsux_tubiao_shuiqiutu:before {
  content: "\e61d";
}

.icon-shujukuleixingtubiao-kuozhan-:before {
  content: "\e61e";
}

.icon-sqlserver:before {
  content: "\e6b6";
}

.icon-fsux_tubiao_jindutiaotu:before {
  content: "\e61f";
}

.icon-postgresql:before {
  content: "\ec5d";
}

.icon-date:before {
  content: "\e6b4";
}

.icon-fenxi:before {
  content: "\ea3f";
}

.icon-date_time:before {
  content: "\e6ec";
}

.icon-wenbenkuang:before {
  content: "\e629";
}

.icon-shouyelunbo:before {
  content: "\e618";
}

.icon-icon_fabu:before {
  content: "\eb88";
}

.icon-icon_yulan:before {
  content: "\eb8a";
}

.icon-dian:before {
  content: "\e617";
}

.icon-peizhishujuyuan:before {
  content: "\e62e";
}

.icon-fsux_tubiao_duijizhuzhuangtu:before {
  content: "\e603";
}

.icon-fsux_tubiao_bingtu:before {
  content: "\e604";
}

.icon-fsux_tubiao_juxingshutu:before {
  content: "\e605";
}

.icon-fsux_tubiao_qipaotu:before {
  content: "\e606";
}

.icon-fsux_tubiao_shuangzhoutu:before {
  content: "\e607";
}

.icon-fsux_tubiao_loudoutu:before {
  content: "\e608";
}

.icon-fsux_tubiao_duijimianjitu:before {
  content: "\e60a";
}

.icon-fsux_tubiao_zhibiaoka:before {
  content: "\e60b";
}

.icon-fsux_tubiao_ciyun:before {
  content: "\e60c";
}

.icon-fsux_tubiao_zhuzhuangtu:before {
  content: "\e60d";
}

.icon-fsux_zhexiantu:before {
  content: "\e60e";
}

.icon-ic_tubiao_mianji:before {
  content: "\e610";
}

.icon-fsux_tubiao_sandiantu:before {
  content: "\e611";
}

.icon-fsux_tubiao_duibitu:before {
  content: "\e612";
}

.icon-fsux_tubiao_sangjitu:before {
  content: "\e613";
}

.icon-fsux_tubiao_nandingmeiguitu:before {
  content: "\e614";
}

.icon-fsux_tubiao_yujuetu:before {
  content: "\e615";
}

.icon-fsux_tubiao_baifenbihuantu:before {
  content: "\e616";
}

.icon-tianjiashujuyuan:before {
  content: "\e619";
}

.icon-shujuyuanguanligongju:before {
  content: "\e6b3";
}

.icon-shujuyuanzhuanhuan:before {
  content: "\edaa";
}

.icon-shujuyuan:before {
  content: "\ee1e";
}

.icon-paixujiangxu:before {
  content: "\e63a";
}

.icon-paixushengxu:before {
  content: "\e63b";
}

.icon-wuxupailie:before {
  content: "\ec80";
}

.icon-sql:before {
  content: "\e6d1";
}

.icon-file-SQL:before {
  content: "\e807";
}

.icon-SQLxinjian:before {
  content: "\e638";
}

.icon-sql1:before {
  content: "\e60f";
}

.icon-SQL:before {
  content: "\e8d7";
}

.icon-excel:before {
  content: "\ea45";
}

.icon-excel1:before {
  content: "\e609";
}

.icon-xinjianshujuji:before {
  content: "\e6b1";
}

.icon-SQLshujuji:before {
  content: "\e6b2";
}

.icon-layer-number:before {
  content: "\e601";
}

.icon-Field-String:before {
  content: "\e90d";
}

.icon-number:before {
  content: "\e639";
}

.icon-baocunweishujuji:before {
  content: "\ec59";
}

.icon-number1:before {
  content: "\e602";
}

.icon-diedaishujuji:before {
  content: "\ee42";
}

.icon-3column:before {
  content: "\e663";
}

.icon-column-4:before {
  content: "\e664";
}

.icon-add:before {
  content: "\e665";
}

.icon-add-circle:before {
  content: "\e666";
}

.icon-adjust:before {
  content: "\e667";
}

.icon-arrow-up-circle:before {
  content: "\e668";
}

.icon-arrow-right-circle:before {
  content: "\e669";
}

.icon-arrow-down:before {
  content: "\e66a";
}

.icon-ashbin:before {
  content: "\e66b";
}

.icon-arrow-right:before {
  content: "\e66c";
}

.icon-browse:before {
  content: "\e66d";
}

.icon-bottom:before {
  content: "\e66e";
}

.icon-back:before {
  content: "\e66f";
}

.icon-bad:before {
  content: "\e670";
}

.icon-arrow-double-left:before {
  content: "\e671";
}

.icon-arrow-left-circle:before {
  content: "\e672";
}

.icon-arrow-double-right:before {
  content: "\e673";
}

.icon-caps-lock:before {
  content: "\e674";
}

.icon-camera:before {
  content: "\e675";
}

.icon-chart-bar:before {
  content: "\e676";
}

.icon-attachment:before {
  content: "\e677";
}

.icon-code:before {
  content: "\e678";
}

.icon-close:before {
  content: "\e679";
}

.icon-check-item:before {
  content: "\e67a";
}

.icon-calendar:before {
  content: "\e67b";
}

.icon-comment:before {
  content: "\e67c";
}

.icon-column-vertical:before {
  content: "\e67d";
}

.icon-column-horizontal:before {
  content: "\e67e";
}

.icon-complete:before {
  content: "\e67f";
}

.icon-chart-pie:before {
  content: "\e680";
}

.icon-cry:before {
  content: "\e681";
}

.icon-customer-service:before {
  content: "\e682";
}

.icon-delete:before {
  content: "\e683";
}

.icon-direction-down:before {
  content: "\e684";
}

.icon-copy:before {
  content: "\e685";
}

.icon-cut:before {
  content: "\e686";
}

.icon-data-view:before {
  content: "\e687";
}

.icon-direction-down-circle:before {
  content: "\e688";
}

.icon-direction-right:before {
  content: "\e689";
}

.icon-direction-up:before {
  content: "\e68a";
}

.icon-discount:before {
  content: "\e68b";
}

.icon-direction-left:before {
  content: "\e68c";
}

.icon-drag:before {
  content: "\e68d";
}

.icon-elipsis:before {
  content: "\e68e";
}

.icon-export:before {
  content: "\e68f";
}

.icon-explain:before {
  content: "\e690";
}

.icon-edit:before {
  content: "\e691";
}

.icon-eye-close:before {
  content: "\e692";
}

.icon-email:before {
  content: "\e693";
}

.icon-error:before {
  content: "\e694";
}

.icon-favorite:before {
  content: "\e695";
}

.icon-file-common:before {
  content: "\e696";
}

.icon-file-delete:before {
  content: "\e697";
}

.icon-file-add:before {
  content: "\e698";
}

.icon-film:before {
  content: "\e699";
}

.icon-fabulous:before {
  content: "\e69a";
}

.icon-file:before {
  content: "\e69b";
}

.icon-folder-close:before {
  content: "\e69c";
}

.icon-filter:before {
  content: "\e69d";
}

.icon-good:before {
  content: "\e69e";
}

.icon-home:before {
  content: "\e69f";
}

.icon-history:before {
  content: "\e6a0";
}

.icon-file-open:before {
  content: "\e6a1";
}

.icon-forward:before {
  content: "\e6a2";
}

.icon-import:before {
  content: "\e6a3";
}

.icon-image-text:before {
  content: "\e6a4";
}

.icon-keyboard-26:before {
  content: "\e6a5";
}

.icon-keyboard-9:before {
  content: "\e6a6";
}

.icon-link:before {
  content: "\e6a7";
}

.icon-layout:before {
  content: "\e6a8";
}

.icon-fullscreen-shrink:before {
  content: "\e6a9";
}

.icon-layers:before {
  content: "\e6aa";
}

.icon-lock:before {
  content: "\e6ab";
}

.icon-fullscreen-expand:before {
  content: "\e6ac";
}

.icon-map:before {
  content: "\e6ad";
}

.icon-meh:before {
  content: "\e6ae";
}

.icon-menu:before {
  content: "\e6af";
}

.icon-loading:before {
  content: "\e6b0";
}

.icon-component:before {
  content: "\e600";
}

